body {
    background: #caa6a6;
    margin: 2px;
    font-family: verdana;
    max-width: 8000px;
    max-height: 8000px;
    margin: auto;
    text-align: justify;
}

#title {
    font-family: Verdana;
    font-size: 40px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
}

.subtitle {
    font-weight: ;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: overline;
}
a {
    text-decoration: line-through;
    color: #505050;
}
.photo {
    border: 1px solid #505050;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 150px; height: 150px;
   
}

#title, .subtitle, .post_title {
    color: rgb(29, 8, 12);
}


.post {
    background: #FFF;
    padding: 10px;
    border: 2px solid #505050;
    color: #505050;
    margin: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.post_title { 
    margin: 0;
    margin-bottom: 15px;
    font-family: verdana, Arial;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: underline;


}
.post_image {
    margin-bottom: 15px;
    border-radius: 50%;
    border: 1px solid #505050;
    width: 200px; height: 200px;
    margin: auto;
    
}

.post_content {
    margin: 0;
    margin-top: 15px;
    border: 2px solid #505050;
    border-radius: 5px;
    text-transform: capitalize;

}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}